<div class="container">
  <div class="sixteen columns" style="margin-top: 40px;">
  </div><!-- sixteen column -->
  <div class="one-third column">
    <div ui-view="keys"></div>
  </div><!-- two-third column -->
  <div class="two-third column">
    <div ui-view="key" class="text-content"></div>
  </div><!-- two-third column -->
</div><!-- container -->

<div class='bottom-container'>
  <div id='terminal'></div>
</div>
<!-- This controller is used to bootstrap the application -->
<section ng-controller='BootstrapController'></section>
