<div class="container">
  <div class="sixteen columns">
  </div><!-- sixteen column -->
  <div class="one-third column">
    <div ui-view="keys"></div>
  </div><!-- two-third column -->
  <div class="two-third column" id="right-side">
    <div class='menu-container'>
      <a href="#/new" class="push_button green-desktop">
        <span class='icon-plus icon-white spaced-icon'></span>New key
      </a>
      <a href="/" class="push_button green-desktop">
        <span class='icon-align-left icon-white spaced-icon'></span>Stats
      </a>
      <a href="#/new" class="push_button green-desktop">
        <span class='icon-off icon-white spaced-icon'></span>Terminal
      </a>
      <a href="#/config" class="push_button green-desktop">
        <span class='icon-cog icon-white spaced-icon'></span>Settings
      </a>
    </div>

    <div ui-view="key" class="text-content">
    </div>
  </div><!-- two-third column -->
</div><!-- container -->


<div class='bottom-container'>
  <div id='terminal'></div>
</div>

<!-- This controller is used to bootstrap the application -->
<section ng-controller='BootstrapController'></section>
