<div class="container">
  <div class="sixteen columns" style="margin-top: 40px;">
  </div>
  <div class="one-third column">
    <div ui-view="keys"></div>
  </div>
  <div class="two-third column">
    <div ui-view="key"></div>
  </div>
</div><!-- container -->

<!-- This controller is used to bootstrap the application -->
<section ng-controller='BootstrapController'></section>
