<h2>Edit memcached config</h2>
<form ng-controller='UpdateConfigController' ng-submit='updateConfig()'>
  <input ng-model='config.host' placeholder='Host' type='text' class='green-input'></textarea>
  <input ng-model='config.port' placeholder='Port' type='text' class='green-input'></textarea>
  <button>Edit</button>
</form>
