<h1>Edit key</h1>
<form ng-controller='UpdateKeyController' ng-submit='updateKey()'>
  <p>Key: {{pair.key}}</p>
  <textarea ng-model='pair.value' placeholder='Value' type='text' class='brown-input'></textarea>
  <div class='form-button-container'>
    <button class='push green form-button'>Update key</button>
  </div>
</form>
