<section id='menu'>
  <div class='nav-keys'>
    <img src="images/logo.png" class='logo' />
    <input id="search-box" ng-model='query' class='green-input search' ng-change='filterByQuery()' placeholder='Search keys with a regexp' type='text'>

    <section id="key-keys">
      <table id='keys'>
        <tr>
          <th id="key">Key</th>
          <th id="expires-in">Expires in</th>
          <th id="size">Size</th>
          <th id="actions">Actions</th>
        </tr>

        <tr ng-repeat='key in keys'>
          <td class='keys-key'>
            <a class="key-title" href="#/key/{{ key.key }}">
              {{ key.key | shortify_key }}
            </a>
          </td>
          <td class='keys-expires-in'>{{ key | humanize_timestamp }}</td>
          <td class='keys-size'><span> {{ key.bytes | humanize_size }}</span></td>
          <td class='keys-actions'>
            <a ng-click="removeKey(key)" class="icon-remove pointer" ng-controller="DeleteKeyController"></a>
            <a href="#/edit/{{ key.key }}" class="icon-pencil"></a>
          </td>
        </tr>
      </table>
    </section><!-- key-menu -->

    <div ng-controller='StatsController'>
      <div ng-switch on='connection.connected'>
        <div ng-switch-when='true' class='left-nav-bottom'>
          A total of 
          <span class="highlight">{{ stats | configs:"numberOfKeys" }} keys</span>
          using
          <span class="highlight">
            {{ stats | configs:"bytes" | humanize_size }}({{ stats | configs:"percentUsage" }}%) of {{ stats | configs:"maxBytes" | humanize_size }}.
          </span>
        </div>

        <div ng-switch-when='false' class='left-nav-bottom'>
          The memcached server is out of reach.
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</section>
