<section>
  <h2>Keys</h2>
  <ul>
    <li ng-repeat='key in keys'>
      {{key.key}}
      {{key.bytes}}
      {{key.expires_at}}
      {{key.expired}}
      <a ng-click="removeKey(key)">X</a>
    </li>
    <section ui-view></section>
  </ul>
</section>
