<section>
  <h3>memcached manager</h3>
  <hr>
  <section id="key-menu">
    <div id="key-text">
      <h3>keys</h3>
    </div>

    <div id="key-new">
      <a href="#/new" class="button">New key</a>
    </div>
  </section>

  <div class="clear"></div>

  <section id="key-keys">
    <ul>
      <li ng-repeat='key in keys' class="key">
        <div class="key-info">
          <div class="key-header">
            <span class="key-title">{{ key.key }}</span>
          </div>
          <div id="key-data">
            Size: {{ key.bytes }}B
          </div>
        </div>

        <div class="key-actions">
          <a ng-click="removeKey(key)" class="icon-remove" ng-controller="DeleteKeyController"></a>
          <a href="#/edit/{{ key.key }}" class="icon-pencil"></a>
        </div>
      </li>
    </ul>
  </section>
  <div class="clear"></div>
</section>
