<section>
  <h3 ng-click="showKeys()">memcached manager</h3>
  <a href="#/config" class="icon-cog"> settings</a>
  <hr>
  <section id="key-menu">
    <div id="key-text">
      <h3>keys</h3>
    </div><!-- key-text -->

    <div id="key-new">
      <a href="#/new" class="button">New key</a><!-- button -->
    </div>
  </section>

  <div class="clear"></div>

  <input ng-model='query' class='search' ng-change='filterByQuery()' placeholder='Search keys with a regexp' type='text'>
  <section id="key-keys">
    <ul>
      <li ng-repeat='key in keys' class="key">
        <div class="key-info">
          <div class="key-header">
            <a class="key-title" href="#/key/{{ key.key }}">{{ key.key }}</a><!-- key-title -->
          </div><!-- key-header -->
        </div><!-- key-info -->

        <div class="key-actions">
          <span class="key-data">{{ key.bytes }}<b>B</b></span><!-- key-data -->
          <a ng-click="removeKey(key)" class="icon-remove pointer" ng-controller="DeleteKeyController"></a>
          <a href="#/edit/{{ key.key }}" class="icon-pencil"></a>
        </div><!-- key-actions -->
      </li><!-- key -->
    </ul>
  </section><!-- key-menu -->
  <div class="clear"></div>
</section>
