<h2>New key</h2>
<form ng-controller='CreateKeyController' ng-submit='createKey()'>
  <input ng-model='key.key' placeholder='Key' type='text'>
  <input ng-model='key.value' placeholder='Value' type='text'>
  <button>Create</button>
</form>
