<h2>New key</h2>
<form ng-controller='CreateKeyController' ng-submit='createKey()'>
  <input ng-model='pair.key' placeholder='Key' type='text' class='brown-input'>
  <textarea ng-model='pair.value' placeholder='Value' type='text' class='brown-input'></textarea>
  <button class="push green">Create key</button>
</form>
