<h2>Stats</h2>
<div ng-repeat="(server, stat) in stats">
  <hr>
  <h3>Server: {{ server }}</h3>
  <ul ng-repeat="(key, value) in stat">
    <li><strong>{{ key }}:</strong>{{ value }}</li>
  </ul >
</div>
